<style>
    .blue img {
        filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg);
    }
    .large img {
        height:32px;
        width:32px;
    }
    img {
        /*border:1px solid gray;*/
    }
</style>

<h2>Default</h2>
<div class="">
    <img src="simple_icons/plus.svg">
    <img src="simple_icons/minus.svg">
    <img src="simple_icons/checkmark.svg">
    <img src="simple_icons/cross.svg">
    <img src="simple_icons/chevron-down.svg">
    <img src="simple_icons/chevron-left.svg">
    <img src="simple_icons/chevron-right.svg">
    <img src="simple_icons/chevron-up.svg">
    <img src="simple_icons/menu.svg">
    <img src="simple_icons/copy.svg">
    <img src="simple_icons/paste.svg">
    <img src="simple_icons/save.svg">
    <img src="simple_icons/download.svg">
    <img src="simple_icons/edit.svg">
    <img src="simple_icons/collapse.svg">
    <img src="simple_icons/expand.svg">
    <img src="simple_icons/page.svg">
    <img src="simple_icons/file.svg">
    <img src="simple_icons/file-new.svg">
    <img src="simple_icons/file-open.svg">
    <img src="simple_icons/folder.svg">
    <img src="simple_icons/person.svg">
    <img src="simple_icons/lightning.svg">
    <img src="simple_icons/search.svg">
    <img src="simple_icons/gear.svg">
    <img src="simple_icons/trash.svg">
</div>

<h2>Blue CSS Filter</h2>
<div class="blue">
    <img src="simple_icons/checkmark.svg">
    <img src="simple_icons/chevron-down.svg">
    <img src="simple_icons/chevron-left.svg">
    <img src="simple_icons/chevron-right.svg">
    <img src="simple_icons/chevron-up.svg">
    <img src="simple_icons/copy.svg">
    <img src="simple_icons/cross.svg">
    <img src="simple_icons/download.svg">
    <img src="simple_icons/edit.svg">
    <img src="simple_icons/file.svg">
    <img src="simple_icons/file-new.svg">
    <img src="simple_icons/file-open.svg">
    <img src="simple_icons/folder.svg">
    <img src="simple_icons/gear.svg">
    <img src="simple_icons/lightning.svg">
    <img src="simple_icons/menu.svg">
    <img src="simple_icons/minus.svg">
    <img src="simple_icons/page.svg">
    <img src="simple_icons/paste.svg">
    <img src="simple_icons/plus.svg">
    <img src="simple_icons/save.svg">
    <img src="simple_icons/search.svg">
    <img src="simple_icons/trash.svg">
</div>

<h2>32 x 32</h2>
<div class="large">
    <img src="simple_icons/checkmark.svg">
    <img src="simple_icons/chevron-down.svg">
    <img src="simple_icons/chevron-left.svg">
    <img src="simple_icons/chevron-right.svg">
    <img src="simple_icons/chevron-up.svg">
    <img src="simple_icons/copy.svg">
    <img src="simple_icons/cross.svg">
    <img src="simple_icons/download.svg">
    <img src="simple_icons/edit.svg">
    <img src="simple_icons/file.svg">
    <img src="simple_icons/file-new.svg">
    <img src="simple_icons/file-open.svg">
    <img src="simple_icons/folder.svg">
    <img src="simple_icons/gear.svg">
    <img src="simple_icons/lightning.svg">
    <img src="simple_icons/menu.svg">
    <img src="simple_icons/minus.svg">
    <img src="simple_icons/page.svg">
    <img src="simple_icons/paste.svg">
    <img src="simple_icons/plus.svg">
    <img src="simple_icons/save.svg">
    <img src="simple_icons/search.svg">
    <img src="simple_icons/trash.svg">
</div>